## Challenges

In [1]:
import pandas as pd

In [9]:
oo = pd.read_csv('olympics.csv', skiprows=4)
oo.head()
help(pd.read_excel('olympics.xlsx'))

FileNotFoundError: [Errno 2] No such file or directory: 'olympics.xlsx'

### In which events did Jesse Owens win a medal?

In [7]:
jo = oo[oo.Athlete =='OWENS, Jesse']

In [4]:
jo.Event.value_counts()

200m            1
long jump       1
4x100m relay    1
100m            1
Name: Event, dtype: int64

### Which country has won the most men's gold medals in singles badminton over the years?

### Sort the result by Athlete name

In [20]:
gbm = oo[(oo.Gender == 'Men') & (oo.Medal == 'Gold') & (oo.Sport == 'Badminton')]
gbm

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20031,Barcelona,1992,Badminton,Badminton,"KIM, Moon-Soo",KOR,Men,doubles,M,Gold
20032,Barcelona,1992,Badminton,Badminton,"PARK, Joo-Bong",KOR,Men,doubles,M,Gold
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
21771,Atlanta,1996,Badminton,Badminton,"MAINAKY, Rexy Ronald",INA,Men,doubles,M,Gold
21772,Atlanta,1996,Badminton,Badminton,"SUBAGJA, Ricky Achmad",INA,Men,doubles,M,Gold
21773,Atlanta,1996,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,X,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23701,Sydney,2000,Badminton,Badminton,"GUNAWAN, Tony",INA,Men,doubles,M,Gold
23702,Sydney,2000,Badminton,Badminton,"WIJAYA, Candra",INA,Men,doubles,M,Gold
23703,Sydney,2000,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
25718,Athens,2004,Badminton,Badminton,"HA, Tae-Kwon",KOR,Men,doubles,M,Gold
25719,Athens,2004,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,M,Gold
25720,Athens,2004,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
27725,Beijing,2008,Badminton,Badminton,"KIDO, Markis",INA,Men,doubles,M,Gold
27726,Beijing,2008,Badminton,Badminton,"SETIAWAN, Hendra",INA,Men,doubles,M,Gold
27727,Beijing,2008,Badminton,Badminton,"LEE, Yongdae",KOR,Men,doubles,X,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold

In [21]:
gbm.sort_values(by='Athlete',ascending=True)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
23701,Sydney,2000,Badminton,Badminton,"GUNAWAN, Tony",INA,Men,doubles,M,Gold
25718,Athens,2004,Badminton,Badminton,"HA, Tae-Kwon",KOR,Men,doubles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27725,Beijing,2008,Badminton,Badminton,"KIDO, Markis",INA,Men,doubles,M,Gold
25719,Athens,2004,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,M,Gold
21773,Atlanta,1996,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,X,Gold
20031,Barcelona,1992,Badminton,Badminton,"KIM, Moon-Soo",KOR,Men,doubles,M,Gold
27727,Beijing,2008,Badminton,Badminton,"LEE, Yongdae",KOR,Men,doubles,X,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold
21771,Atlanta,1996,Badminton,Badminton,"MAINAKY, Rexy Ronald",INA,Men,doubles,M,Gold
20032,Barcelona,1992,Badminton,Badminton,"PARK, Joo-Bong",KOR,Men,doubles,M,Gold
27726,Beijing,2008,Badminton,Badminton,"SETIAWAN, Hendra",INA,Men,doubles,M,Gold
21772,Atlanta,1996,Badminton,Badminton,"SUBAGJA, Ricky Achmad",INA,Men,doubles,M,Gold
23702,Sydney,2000,Badminton,Badminton,"WIJAYA, Candra",INA,Men,doubles,M,Gold
25720,Athens,2004,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
23703,Sydney,2000,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold

### Which three countries have won the most medals in recent years (from 1984 to 2008)?

In [26]:
rec = oo[oo.Edition >= 1984]
rec.NOC.value_counts().head(3)

USA    1837
AUS     762
GER     691
Name: NOC, dtype: int64

### Display the male gold medal winners for the 100m track and field sprint event over the years.

#### List the result starting with the most recent.

#### Show the olympic, city, edition, athlete, and the country they represent.

In [53]:
gmh = oo[(oo.Gender == 'Men') & (oo.Event == '100m') & (oo.Medal == 'Gold') ]
gmh.sort_values(by='Edition', ascending=False)[['City', 'Edition', 'Athlete', 'NOC']]

                        City  Edition                Athlete  NOC
27552                Beijing     2008            BOLT, Usain  JAM
25539                 Athens     2004         GATLIN, Justin  USA
23521                 Sydney     2000        GREENE, Maurice  USA
21598                Atlanta     1996        BAILEY, Donovan  CAN
19859              Barcelona     1992      CHRISTIE, Linford  GBR
18284                  Seoul     1988            LEWIS, Carl  USA
16794            Los Angeles     1984            LEWIS, Carl  USA
15374                 Moscow     1980           WELLS, Allan  GBR
14069               Montreal     1976       CRAWFORD, Hasely  TRI
12902                 Munich     1972         BORZOV, Valery  URS
11865                 Mexico     1968       HINES, James Ray  USA
10823                  Tokyo     1964          HAYES, Robert  USA
9924                    Rome     1960            HARY, Armin  EUA
9009   Melbourne / Stockholm     1956  MORROW, Robert Joseph  USA
8121                Helsinki     1952        REMIGINO, Lindy  USA
7302                  London     1948      DILLARD, Harrison  USA
6427                  Berlin     1936           OWENS, Jesse  USA
5806             Los Angeles     1932           TOLAN, Eddie  USA
5095               Amsterdam     1928        WILLIAMS, Percy  CAN
4236                   Paris     1924       ABRAHAMS, Harold  GBR
2996                 Antwerp     1920       PADDOCK, Charles  USA
2022               Stockholm     1912           CRAIG, Ralph  USA
1191                  London     1908       WALKER, Reginald  RSA
737                 St Louis     1904           HAHN, Archie  USA
231                    Paris     1900        JARVIS, Francis  USA
13                    Athens     1896          BURKE, Thomas  USA

In [51]:
oo.Event.value_counts()

football                                             1387
hockey                                               1325
team competition                                     1018
basketball                                            940
eight with coxswain (8+)                              918
handball                                              886
water polo                                            880
volleyball                                            862
team                                                  809
4x100m relay                                          504
foil team                                             481
4x100m freestyle relay                                438
4x400m relay                                          421
4x100m medley relay                                   387
4x200m freestyle relay                                380
épée team                                             373
sabre team                                            370
four-oared shell with coxswain (4-)                   359
baseball                                              335
doubles                                               288
individual                                            264
Team Pursuit (4000m)                                  262
four without coxswain (4-)                            260
rugby                                                 192
team time trial                                       191
double sculls (2x)                                    186
softball                                              180
quadruple sculls without coxswain (4x)                180
pair-oared shell with coxswain (2+)                   162
singles                                               150
                                                     ...
70 - 76kg, total (middleweight)                         3
combined 3 events                                       3
fixed bird target large birds                           3
62 - 67kg (welterweight)                                3
58 - 62kg (featherweight)                               3
club swinging                                           3
+ 73kg (heavyweight)                                    3
83 - 91kg, total (middle-heavyweight)                   3
54 - 59kg, total (bantamweight)                         3
75 - 82kg (light-heavyweight)                           3
67.5 - 75kg, one-two hand 3 events (middleweight)       3
3000m walk                                              3
54 - 58kg (featherweight)                               3
special figures                                         3
600m free rifle, individual                             3
board (windglider)                                      3
stick, single                                           3
25 miles (40.232km)                                     3
52.16 - 56.7kg (featherweight)                          3
8m class C                                              2
class B up to 60 feet                                   2
moving bird target, 33m                                 2
- 47.63kg (flyweight)                                   2
47.63 - 52.16kg (bantamweight)                          2
65.77 - 71.67kg (middleweight)                          2
12-hour race                                            2
moving bird target, 50m                                 2
18 foot dinghy                                          2
moving bird target, 28m                                 2
open class A                                            1
Name: Event, Length: 577, dtype: int64